.command-text {
  width: 50%;
  height: 50px;
  font-size: 100%;
}

table.layout {
  width: 75%;
  border: 5px solid #000;
  margin: 0 auto;
}
.layout td {
  border: 1px solid #000;
  height: 100px;
}
.robot {
  width: 100%;
  height: 100%;
  background: #e14646;
  position: relative;
}

.robot .robot-head {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: #000;
  left: 35%;
  top: 25px;
}
.robot .robot-legs {
  position: absolute;
  height: 55px;
  width: 48px;
}
.robot.EAST .robot-legs,
.robot.WEST .robot-legs {
  border-top: 1px solid;
  border-bottom: 1px solid;
  top: 25px;
  height: 48px;
}
.robot.NORTH .robot-legs,
.robot.SOUTH .robot-legs {
  border-left: 1px solid;
  border-right: 1px solid;
  left: 35%;
}

.robot.EAST .robot-legs {
  left: 50px;
}
.robot.WEST .robot-legs {
  left: initial;
  right: 50px;
}
.robot.NORTH .robot-legs {
  top: 0px;
}
.robot.SOUTH .robot-legs {
  top: initial;
  bottom: 0px;
}
